button {
    flex: 1 1 2em;
    margin: 3px;
    font-size: clamp(1em, 6vw, 5em);
    
}

input {
    flex: 1 1 auto;
    direction: rtl;
    font-size: clamp(1em, 6vw, 5em);
}

.button-row {
    display:flex;
    flex: 1 1 auto;
    justify-content: space-around;
}

body, html {
    display:flex;
    height:100%;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.calculator {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}